/* ==========================================================================
      Start of custom CSS for main content page
      ========================================================================== */
a {
  font-family: Quicksand, sans-serif;
  color: #748C67;
  font-size: 14px;
  text-decoration: underline;
}

.accordion-icon {
  margin-right: 24px;
  color: #93A888;
}

.hero-image {
  position: static;
  display: inline-block;
  width: 50vw;
  height: 100vh;
  max-width: none;
  box-shadow: 0 4px 24px 0 rgba(150, 163, 181, 0.08);
  -o-object-fit: cover;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  z-index: auto;
  width: 80%;
  margin-right: 0px;
  margin-bottom: 64px;
  margin-left: 64px;
  float: none;
  clear: none;
  font-family: Quicksand, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
}

.accordion-item {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
}

.faq-question-toggle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  padding: 24px 44px 24px 24px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #E1D9D0;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.faq-question-toggle:hover {
  background-color: #F3EFEA;
}

.faq-dropdown {
  position: static;
  display: block;
  padding: 24px;
  border-style: solid;
  border-width: 0px 1px 1px;
  border-color: #d4d6d5;
  background-color: #FBF8F4;
}

.left {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  width: 50vw;
  height: 100vh;
}

.right {
  position: static;
  left: auto;
  max-width: 800px;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 50%;
  padding: 64px;
  margin: 0 auto;
}

.main-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #FBF8F4;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.header-1 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: Quicksand, sans-serif;
  color: #D3A292;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  letter-spacing: 0.16em;
}

.header-1.question-header {
  margin-top: 24px;
}

.faq-content {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Quicksand, sans-serif;
  color: #57655e;
  font-size: 14px;
}

.faq-content.faq-header-text {
  margin-bottom: 24px;
  font-size: 16px;
}

.faq-question {
  font-family: Quicksand, sans-serif;
  color: #57655e;
  font-weight: 600;
  font-size: 16px;
}

.contact-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
}

.contact-block {
  display: block;
}

.contact-name {
  margin-bottom: 16px;
  font-family: Quicksand, sans-serif;
  color: #57655e;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}

.newline-link {
  display: block;
  margin-top: 8px;
  font-size: 16px;
}

.hero-date {
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.2em;
}

.hero-location {
  letter-spacing: 0.1em;
}

.logo-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  margin-top: 64px;
  margin-left: 64px;
}

.w-webflow-badge {
  position: fixed !important;
  display: None !important;
  visibility: hidden !important;
}

@media screen and (max-width: 991px) {
  .hero-image {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 100vw;
    height: 500px;
  }

  .hero-content {
    position: absolute;
  }

  .accordion-item {
    max-width: 100%;
  }

  .left {
    position: relative;
    width: 100vw;
    height: 500px;
  }

  .right {
    width: 100%;
    margin: 0;
  }

  .main-container {
    position: static;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .hero-image {
    height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .left {
    height: 400px;
  }

  .logo-image {
    width: 50%;
  }
}

@media screen and (max-width: 479px) {

  .hero-content {
    margin-right: 32px;
    margin-bottom: 32px;
    margin-left: 32px;
  }

  .right {
    padding: 32px 32px 64px 32px;
  }

  .contact-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }

  .logo-image {
    margin-top: 32px;
    margin-left: 32px;
  }
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
