.staticrypt-page {
  z-index:1;
  width: 100vw;
  height: 100vh;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.staticrypt-form {
  z-index: 1;
  width: 342px;
  margin: 40px 20px;
  text-align: center;
}

.staticrypt-form input[type="password"] {
  outline: 0;
  background: #ffffff;
  width: 100%;
  height: 56px;
  border: 0;
  padding: 15px 15px 15px 24px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 8px;
}

.staticrypt-form input[type="submit"] {
  text-transform: uppercase;
  outline: 0;
  background: #748C67;
  width: 100%;
  height: 56px;
  border: 0;
  padding: 15px;
  margin: 24px 0 0;
  color: #FFFFFF;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  font-family: Quicksand, sans-serif;
  text-transform: unset !important;
}

.staticrypt-form .staticrypt-decrypt-button:hover,
.staticrypt-form .staticrypt-decrypt-button:active {
  background: #3C4A2E;
}

.staticrypt-html {
  height: 100%;
}

.staticrypt-body {
  height: 100vh;
  width: 100vw;
  position: relative;
  margin: 0;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.staticrypt-content {
  background-color: #333333;
  height: 100%;
  position: relative;
  margin-bottom: 1em;
  font-family: Quicksand, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.staticrypt-background-image {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url("/assets/password-desktop.png");
  background-size: cover;
  background-position: center;
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

.staticrypt-instructions {
  z-index: 1;
}

.staticrypt-title {
  width: auto;
  height: auto;
  text-align: center;
  font-size: 24px;
  margin: 0;
  padding: 0 24px;
  font-weight: 600;
  color: #FFFFFF;
}

.staticrypt-password {
  font-family: Quicksand, sans-serif;
}

input[type=password] {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
}

input[type=password]:focus {
  border: 2px solid #93A888;
  box-shadow: 0 0 24px 1px rgba(255, 255, 255, 0.5);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #A3AEAD;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #A3AEAD
}

.hidden {
  display: none !important;
}

.staticrypt-failed {
  font-size: 12px;
  margin: 8px 0 0;
  text-align: start;
  color: #FFFFFF;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

.staticrypt-spinner-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.staticrypt-spinner {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid gray;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: spinner-border;
}

@keyframes spinner-border {
  100% {
      transform: rotate(360deg);
  }
}


@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  .staticrypt-background-image {
    background-image: url("/assets/password-mobile.png");
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }
}

@media screen and (max-width: 479px) {
  .staticrypt-form {
    width: 80vw;
    max-width: 342px;
  }

  .staticrypt-background-image {
    filter: blur(3px);
    -webkit-filter: blur(3px);
  }
}
